body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
h1 {
    color: #2c3e50;
    text-align: center;
}
nav ul {
    background: #1e887d;
    padding: 10px;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #18bc9c;
}
img {
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
}
/* Aturan Responsive */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
.gallery {
    display: flex;          /* Mengaktifkan mode horizontal */
    justify-content: center; /* Membuat gambar berada di tengah halaman */
    gap: 3px;              /* Memberi jarak antar gambar */
    margin: 20px 0;         /* Memberi jarak atas dan bawah */
}

.gallery img {
    border: 3px solid #2c3e50; /* Menambah bingkai agar lebih cantik */
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1); /* Efek membesar sedikit saat disentuh kursor */
}

/* Warna standar untuk Dark Mode */
.dark-mode {
    background-color: #2c3e50 !important;
    color: #ecf0f1 !important;
}

/* Biar tombolnya kelihatan bagus */
#btn-mode {
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    background-color: #2c3e50;
    color: white;
}

.dark-mode #btn-mode {
    background-color: white;
    color: #2c3e50;
}